html {

   height:100%; 
}


.container{
      
 margin-left: auto;
 margin-right: auto;
 
 width: 1024px;
 
    }
 body {
background-color: rgb(126, 125, 125);
 background-image: url(images/Restaurant-menu-4.jpg) ;
background-size: cover;
background-position-x: center;
 background-repeat: no-repeat;
}

 header {
     
     width: 1024px;
     height: 100px;
     text-align: center;
 image-resolution:auto; 
    }
 nav {
    background-color: rgba(255, 255, 255, 0.048);
    width: auto;
    padding-left: 10px;
    padding-right: 10px;  
     text-align: center;
     height: 30px;
     padding-top: 20px;
     padding-bottom: 10px;
   
 
   }

main {width: 1024px;
    height: 400px;
    margin-top: auto;
    text-align: center;
color:whitesmoke;
padding-top: 84px;
}
 
section {
text-align: center;
padding-bottom: 20px;
}
 
 footer {
    text-align: center;
      background-color:rgba(0, 0, 0, 0.336);
 width: 1024px;
 height: 20px;
  
  
  
    }
nav a {
text-decoration: none;
padding-left: 10px;
padding-right: 10px;
font: 12px;
color:rgba(0, 0, 0, 0.884);
padding-top: 10px;
padding-bottom: 10px;
}
 